Make a plan the previous day and have it discussed
wake at 5:30 
bed by 10:30
gain 5 lb per month... 
gain a pound per week... 

3 month goal should be such that you'll have to work harder than you'll have to work at school. 
Tangible goal that can be given today by 
